:root {
  --primary : #1650A7;
  --text-default : #000000;
  --highlight : #2B4CBF;
  --sub-text : #3A3D40;
  --info-icon : #2D4568;
  --status-active : #0064BF;
  --status-inactive : #7E7E7E; 
  --star-active : #EB5151; 
  --star-inactive : #969696;
  --basic-button : #5A5A5A;
}